{%load static%}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" hrerf="{% static 'mostarProdutos/mostarProduto.css' %}">
    <title>Produtos</title>
  </head>
  <body>
    <div> 
      <div class="div-produ">
        {% for prodd in produtos%}
          <h1>{{prodd.nome}}</h1>
          <img width="100px" src="{{prodd.img.url}}" alt="{{prodd.nome}}">
          <p>{{prodd.descricao}}</p>
          <p>Preço: R$ {{prodd.preco}}</p>
          <button>Adicionar ao Carrrinho</button>
        {% endfor %}
      </div>
    </div>
  </body>
</html>